[package]
name = "blockfrost"
version = "0.2.1"
edition = "2021"
keywords = ["blockfrost", "blockchain", "cardano", "ipfs", "nft"]
categories = ["api-bindings", "asynchronous", "cryptography::cryptocurrencies"]
description = "A Rust SDK for Blockfrost.io API"
license = "Apache-2.0"
repository = "https://github.com/blockfrost/blockfrost-rust"
homepage = "https://blockfrost.io"

[dependencies]
futures = "0.3.17"
reqwest = { version = "0.11.4", features = ["multipart"] }
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.68"
paste = "1.0"
toml = "0.5.8"

# Used in examples/
[dev-dependencies]
tokio = { version = "1.12.0", features = ["macros", "rt-multi-thread"] }
